<html>
    <head>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    </head>
    <body>
        <div id="nav">
            <table>
            <tr>
            {% if user.is_authenticated %}
            <td><p>Welcome {{ user.username }}</p></td>
            <td><p><a href="/logout">Logout</a></p></td>
            {% else %}
            <td><p><a href="/login">Login</a></p></td>
            {% endif %}
            <td><p><a href="{% url 'blog:index' %}">Home</a></p></td>
            <td><p><a href="{% url 'blog:create' %}">Create</a></p></td>
            </tr>
            </table>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
