{% extends 'blog/base.html' %}

{% block content %}
{% if recent %}
<div id="latest-posts">
    {% for post in recent %}
        <div class="post">
            <table>
            <thead>
            <tr>
            <th><p><a href="{% url 'blog:user' post.author.username %}">{{ post.author.username }}</a></p></th>
            <th><p><a href="{% url 'blog:post' post.author.username post.id%}">{{ post.title_text }}</a></p></th>
            <th><p>{{ post.pub_date }}</p></th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td colspan="3"><p>{{ post.body_text }}</p></td>
            </tr>
            </tbody>
            </table>
        </div>
    {% endfor %}
</div>
{% else %}
<p>No posts have been made. Like ever.</p>
{% endif %}
{% endblock %}
